/* impostazioni generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: (0,0,0,0);
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

/* stile header */
header {
    background-color: white;
    height: 80px;
    font-weight: bold;
    font-size: 35px;
    border-bottom: 2px solid black;
}

#logo {
    margin: 10px;
}


/* stili prima linea + 2 bottoni */
#big-container {
    width: 80%;
    height: 650px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px solid black;
}

#first-line {
    height: 50px;
    border-bottom: 2px solid grey
}

#buttons > span {
    padding: 5px;
    border-radius: 7%;
}

#add-task {
    background-color: #46ACF1;
    color: white;
}

#add-section {
    background-color: (0,0,0,0);
    color: grey;
    border: 1px solid grey;
}




/* sezioni new task, today e upcoming */
#container {
    padding-top: 30px;
    padding-left: 45px;
}

h4 {
    font-size: 20px;
}

#today, #upcoming {
    padding-top: 40px;
}

.lines {
    padding-top: 15px;
}

.yes {
    background-color: white;
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    padding: 3px;
    font-size: 8px;
}

.no {
    background-color: white;
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    padding: 3px;
    font-size: 12px;
}



/* stili bottoni colorati */
.bottone {
    border-radius: 30%;
    padding: 5px;
    color: white;
    font-size: 10px;
}


#editorial {
    background-color: #46ACF1;
    border: #46ACF1 solid 1px;
}

#q1 {
    background-color: blueviolet;
    border: blueviolet;
}

#recruiting {
    background-color: green;
    border: green;
}

#mobile {
    background-color: orange;
    border: orange;
}

#website {
    background-color: rgb(204, 79, 165);
    border: rgb(204, 79, 165);
}

#sales {
    background-color: rgb(99, 148, 60);
    border: rgb(99, 148, 60);
}